body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wanted-container {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 40px; /* Increased padding for more space */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 600px; /* Increased max-width for more content space */
}

h1 {
    color: #dc3545;
    margin-bottom: 20px;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.photo-container img {
    width: 100%;
    max-width: 200px; /* Decreased max-width for smaller photo */
    height: auto;
    object-fit: cover;
    border: 5px solid #dc3545;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-container {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}

.info-container h2 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #333;
}

.info-container p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #555;
}

.info-container p strong {
    color: #000;
}
